{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- Fontawesome CSS -->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">

<style>
/* Navbar */


.navbar-nav > li > .dropdown-menu{
    background-color: #696969;
}
.dropdown-menu .dropdown-item{
    display: inline-block; width:100% padding: 10px 5px; 
}

#navbarDropdown{
	color: white;
}
.navbar-nav a{
    font-weight: bold;
}


</style>