<style>


/* footer */

footer{
    padding-top: 70px;
    background: url('/static/img/footer-map-bg.png') center center;
    background-size: cover;
    height: 600px;
}

.h22{
    color: #fff;
    text-transform: capitalize;
    font-size: 24px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 400;
    letter-spacing: 1px;
}
 .aa,.i{
    color: #fff;
    font-family: 'Roboto';
    text-align: center;
}


.location{
    color: #fff;
    text-align: center;
    
    
}
 hr{
    border-top: 1px solid white;
    width: 70%;
}

.ull{
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-bottom: 30px;
}
.lil{
    
    margin: 0;
    text-align: center;
}
.aa{
    padding: 5px;
    text-transform: capitalize;
    font-size: 18px;
}
.aa:hover{
    text-decoration: none;
    color: #4b9126;
}

@media(max-width: 768px){
    footer{
        height: auto !important;
    }
    h2{
        font-size: 30px;
    }
}


</style>

<!-- Footer -->
  <footer>

    <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="text-1">Mostly Plants Garden Services Inc</div>

                 <p class="location">St Paul Rd B.4, Vacoas-Phoenix <br>
                 staff@mostlyplantsgs.com <br>
                 +230 5945 0909 <br>
                 
                 </p>
                 <br><br><br><br><br><br><br><br>
                
                   <hr>
                          <div class="row">
                           
                                <div class="col-md-2">
                                      <ul class="ull">
                                        <li class="lil"><a class="aa" href="#">Home</a></li>
                                      </ul>
                                </div>
                                <div class="col-md-2">
                                  <ul class="ull">
                                    <li class="lil"><a class="aa" href="#">About</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-2">
                                  <ul class="ull">
                                    <li class="lil"><a class="aa" href="#">Contact</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-2">
                                  <ul class="ull">
                                    <li class="lil"><a class="aa" href="#">Services</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-2">
                                  <ul class="ull">
                                    <li class="lil"><a class="aa" href="#">Privacy policy</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-2">
                                  <ul class="ull">
                                    <li class="lil"><a class="aa" href="#">FAQ</a></li>
                                  </ul>
                                </div>

                        </div>


                <br>
                <p class="location">Mostly Plants Garden Services Inc © 2020</p>
            </div>
        </div>
    </div>

  </footer>